<div style="margin-left:20% ">
  <div style="text-align:center; width: 60%;">
    <h3>
      Unsplash Beautiful, free photos.Gifted by the world’s most generous community of photographers. 🎁
    </h3>
    <img width="300" alt="Unsplash Logo" src="../assets/icon.png">
  </div>

  <div class="input-group form-container">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input  type="text" class="form-control input-style" placeholder="Search free high-resolution photos" [(ngModel)]=photoname>
  </div>

  <button type="button" class="btn btn-primary btn-lg button-style" (click)=SearchResult()>Search</button>

  <div *ngFor="let pic of imagePath" class="photos-container" >
    <img src={{pic.urls.thumb}} class="photos-style" />
  </div>

</div>